<h2>About the application</h2>
<div class="loader"></div>
<h3 data-ng-bind="viewMsg"></h3>

<div class="help-wrapper">
<span class="help-text">
    ───app
            
        ───bower_components
            ───angular
            ───angular-animate
            ───angular-bootstrap
            ───angular-route
            ───angular-sanitize
            ───font-awesome
            ───jquery
            ───ng-dialog
            ───underscore

        ───css
            ───app.css
        ───img
        ───js
            ───components
                    ───about
                        ───about.html
                        ───about.js 
                    ───home
                        ───home.html
                        ───home.js
                    ───myprofile
                        ───myprofile.html
                        ───myprofile.js
            
            ───controllers
                ───app.js
            
            ───directives
                ───overallInfo.js
                ───userData.js
            
            ───factory
                ───sharepointJSOMService.js
                ───sharepointRESTService.js
            
            ───filters
            
            ───lib
                ───init.js 
                ───MicrosoftAjax.js 
                ───reputation.js 
                ───sp.core.js 
                ───sp.js 
                ───sp.runtime.js 
                ───sp.ui.dialog.js 
                ───sp.userprofile.js 

            ───services
                ───formdigest.js 
            
            ───templates
                ───add-item.html
                ───delete-batch.html
                ───delete-item.html
                ───edit-item.html
                ───overall-info.html
                ───user-data.html
            ───config.js
            ───language.js
            
        ───index.html 
</span>
    </div>
</body>
